body {
	padding-top: 100px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
	margin: 50px 0;
}

#logo {
	display: block;
	height: 100px;
	margin: 0 auto;
	position: relative;
	left: 0;
}

.navbar-nav li a {
	line-height: 50px;
}

.no-margin-bottop {
	margin-bottom: 0 !important;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

textarea.input-validation-error {
	border: 1px solid #b94a48;
}


select.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}